<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> and don't forget it!</h1>
    <p>Welcome to <%= title %></p>
    <form>
    	<input type="radio" name="alive" value="alot" checked> Alive
    </form>
        <form>
        <div>
        <input type="radio" name="type" value="donuts" checked> Donuts
        <input type="radio" name="type" value="books"> Books<br>
        </div>

        <div>
        <input type="radio" name="file" value="xml" checked> XML
        <input type="radio" name="file" value="json"> JSON<br>
        </div>

        <div>
        <input type="radio" name="format" value="raw" checked> Raw
        <input type="radio" name="format" value="formatted"> Formatted<br>
        </div>

        <input type="button" name="Create" value="create?" id=create> <br>
      </form>
      <script>
      	var type = $("input[name=type]").val();
      	var file = $("input[name=file]").val();
      	var format = $("input[name=format]").val();


        $(document).ready(function(){
          $("#create").click(function(){
            $.ajax({
              type: "GET",
              url: "//../public/json/donuts.json",
              
              $("#writeArea").append("Yo");
            });
          });

        });
        }
      </script>
            
  </body>
</html>
