tr.spaceUnder>td {
	padding-bottom: 1em;
}
td.divide {
	background: #b98f86;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}
table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}
table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

tr:nth-child(3n + 4) {
	font-family: "Comic Sans MS", sans-serif;
	font-weight: bold;
	font-size: 1.15em;
}

div {
	text-align: justify;
	text_justify: inter-word;
}

img.right {
	float: right;
	display: block;
  	max-width:200px;
  	max-height:80px;
  	width: auto;
  	height: auto;
}

img.left {
	float: left;
	display: block;
  	max-width:200px;
  	max-height:80px;
  	width: auto;
  	height: auto;	
}

div.columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

ul.type1 {
	list-style-type: circle;
}

ul.type2 {
	list-style-type: square;
}

ul.type3 {
	list-style-type: georgian;
}

ol.type1 {
	list-style-type: upper-armenian;
}

ol.type2 {
	list-style-type: upper-roman;
}

ol.type3 {
	list-style-type: lower-alpha;
}


ul.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li.nav_button {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


