<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='style.css' />
    <link href="style.css" rel="stylesheet"/>

    <link href="/stylesheets/starter-template.css" rel="stylesheet">
    <link rel='stylesheet' href= '/stylesheet/style.css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.js">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

        <form>
        <div>
        <input type="radio" name="type" value="donuts" > Donuts
        <input type="radio" name="type" value="books"> Books<br>
        </div>

        <div>
        <input type="radio" name="file" value="xml" > XML
        <input type="radio" name="file" value="json"> JSON<br>
        </div>

        <div>
        <input type="radio" name="format" value="raw" > Raw
        <input type="radio" name="format" value="formatted"> Formatted<br>
        </div>
      </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script type="text/javascript">
      	var type = $("input[name=type]:checked").val();
      	var file = $("input[name=file]:checked").val();
      	var format = ($("input[name=format]:checked").val());


	    $(document).ready(function(){
          $("#create").click(function(){

          	var type = $("input[name=type]:checked").val();
  			var file = $("input[name=file]:checked").val();
  			var format = $("input[name=format]:checked").val();

  			if (type == "donuts" && file == "json" && format == "formatted")
  			{
			//DISPLAYS FORMATTED JSON FOR DONUTS
			               		alert('AJAXCALL');
			               		$("tbody").html(" ");
			               		$("outputArea").empty();
			             		$.getJSON("/donuts.json", function(result){
			              			result = result["items"];
			              			$.each(result, function(i,things){
			              				$.each(things, function(j,item){    
			              					var id = item.id
			              					var type = item.type
			              					var name = item.name
			              					var ppu = item.ppu

						    				var output = '<tr>';
											output += '<td class="id">' +id+'</td>';
											output += '<td class="type">' +type+'</td>';
											output += '<td class="name">' +name+'</td>';
											output += '<td class="ppu">' +ppu+'</td>';

											var batter_list = '<ul>'
			              					var bat_result = item.batters;
			              					$.each(bat_result,function(i,heys){
			              						$.each(heys, function(j,batter){
			              							var batter_id = batter.id
			              							var batter_text = batter.text

			              							batter_list += '<li>' +batter_id+ '</li>'
			              							batter_list += '<li>' +batter_text+ '</li>'
			              							// $("tbody").append("<tr> <td>" +batter_text+ "</td> </tr>")
			              						})
			              					})		

			              					batter_list += '</ul>'		

											var topping_list = '<ul>'
			              					var top_result = item.topping;
			              					$.each(top_result,function(i,bungalow){
			              						// $.each(heys, function(j,batter){
			              							var top_id = bungalow.id
			              							var top_text = bungalow.text

			              							topping_list += '<li>' +top_id+ '</li>'
			              							topping_list += '<li>' +top_text+ '</li>'
			              							// $("tbody").append("<tr> <td>" +batter_text+ "</td> </tr>")
			              						// })
			              					})		

			              					topping_list += '</ul>'              									
											output += '<td class="batters">' +batter_list+'</td>';
											output += '<td class="batters">' +topping_list+'</td>';								
											// output += '<td class="description">' +description+'</td>';
											// output += '<td class="id">' +id+'</td>';
											output += '</tr>';

											$("tbody").append(output);                					
			              				});
			              			});
			              		});
				
  			}
  			else if(type == "donuts" && file == "json" && format == "raw")
  			{
			//DISPLAYS RAW JSON FOR Donuts
			$("tbody").html(" ");
			$("outputArea").empty();
			             $.ajax({
			               type: "GET",
			               url: "/donuts.json",
			               dataType: "json",
			               success: function(books) {
			              		alert('AJAXCALL');

						 	$("#outputArea").load("donuts.json"); //org load
						 }

			             });
  			}
  			else if(type == "donuts" && file == "xml" && format == "raw")
  			{
			//RAW DONUTS XML
			$("tbody").html(" ");	
			$("outputArea").empty();	 
				             $.ajax({
				               type: "GET",
				               url: "/donuts.xml",
				               dataType: "xml",
				               success: function(xml) {
				              		alert('AJAXCALL');

							 	$("#outputArea").load("donuts.xml"); //org load
							 }

				             });
  			}
  			else if(type == "donuts" && file == "xml" && format == "formatted")
  			{
			// FORMATTED DONUTS XML
			$("tbody").html(" ");
			$("outputArea").empty();
				            $.ajax({
				              type: "GET",
				              url: "/donuts.xml",
				              dataType: "xml",
				              success: function(xml) {
				              		alert('AJAXCALL');
				              		
								$(xml).find('item').each(function(){

									


									$("tbody").append('<tr>');

									

									var item_id = $(this).children('id').text();
									var type = $(this).children('type').text();
									var name = $(this).children('name').text();
									var ppu = $(this).children('ppu').text();
									//(item_id);
									var output1 = '<td class="item_id">' +item_id+'</td>'; 
									output1 += '<td class="type">' +type+'</td>';
									output1 += '<td class="name">' +name+'</td>';
									output1 += '<td class="ppu">' +ppu+'</td>';

									$("tbody").append(output1);

									$(this).children('batters').each(function(){
										$(this).children('batter').each(function(){


											var text = $(this).find('text').text();
											var batter_id = $(this).find('id').text();
											//alert(text);

											var output2 = '<td class="batters"><ul><li>' +batter_id+ '</li>';
											output2 += '<li>' +text+ '</li></ul></td>';

											 $("tbody").append(output2);								
										});	
									});

									

									$(this).children('topping').each(function(){
										var top_text = $(this).find('text').text();
										var top_id = $(this).find('id').text();

										var output3 = '<td class="toppings"><ul><li>' +top_id+ '</li>';
										output3 += '<li>' +top_text+ '</li></ul></td>';

										$("tbody").append(output3);
									});

									$(this).children('fillings').each(function(){
										$(this).children('filling').each(function(){


											var fill_id = $(this).find('id').text();
											var fill_name = $(this).find('name').text();
											var addcost = $(this).find('addcost').text();

											var output4 = '<td class="fillings"><ul><li>' +fill_id+ '</li>';
											output4 += '<li>' +fill_name+ '</li></ul></td>';
											output4 += '<li>' +addcost+ '</li></ul></td>';

											$("tbody").append(output4);
										});
									});

									$("tbody").append('</tr>');
									
								});

									
							}



				        });
  			}
		    else if(type == "books" && file == "xml" && format == "raw")
		    {
				$("tbody").html(" ");
				$("outputArea").empty();
	             $.ajax({
	               type: "GET",
	               url: "/books.xml",
	               dataType: "xml",
	               success: function(xml) {
	              		alert('AJAXCALL');

				 	$("#outputArea").load("books.xml"); //org load
				 }

	             });

		    }
		    else if(type == "books" && file == "xml" && format == "formatted")
		    {
			// FORMATTED BOOKS.XML
						$("tbody").html(" ");
						$("outputArea").empty();
			            $.ajax({
			              type: "GET",
			              url: "/books.xml",
			              dataType: "xml",
			              success: function(xml) {
			              		alert('AJAXCALL');
			              		
							$(xml).find('book').each(function(){

								var id = $(this).attr('id');
								var author = $(this).find('author').text();
								var title = $(this).find('title').text();
								var genre = $(this).find('genre').text();
								var price = $(this).find('price').text();
								var publish_date = $(this).find('publish_date').text();
								var description = $(this).find('description').text();
								
								var output = '<tr>';
								output += '<td class="author">' +author+'</td>';
								output += '<td class="title">' +title+'</td>';
								output += '<td class="genre">' +genre+'</td>';
								output += '<td class="price">' +price+'</td>';
								output += '<td class="publish_date">' +publish_date+'</td>';
								output += '<td class="description">' +description+'</td>';
								output += '<td class="id">' +id+'</td>';
								output += '</tr>';

								$("tbody").append(output);
							});
						}

			            });

		    }
		    else if(type == "books" && file == "json" && format == "raw")
		    {
			//DISPLAYS RAW JSON FOR BOOKS
			$("tbody").html(" ");
			$("outputArea").empty();
			             $.ajax({
			               type: "GET",
			               url: "/books.json",
			               dataType: "json",
			               success: function(books) {
			              		alert('AJAXCALL');

						 	$("#outputArea").load("books.json"); //org load
						 }

			             });

		    }
		    else if(type == "books" && file == "json" && format == "formatted")
		    {
			//DISPLAYS FORMATTED JSON FOR BOOKS
			              		alert('AJAXCALL');
			              		$("tbody").html(" ");
			              		
			              		$.getJSON("/books.json", function(result){
			              			result = result["catalog"];
			              			$("outputArea").load("empty.json");
			              			$.each(result, function(i,books){
			              				$.each(books, function(j,book){

			              					var author = book.author
			              					var title = book.title
			              					var genre = book.genre
			              					var price = book.price
			              					var publish_date = book.publish_date
			              					var description = book.description
			              					var id = book._id

						    				var output = '<tr>';
											output += '<td class="author">' +author+'</td>';
											output += '<td class="title">' +title+'</td>';
											output += '<td class="genre">' +genre+'</td>';
											output += '<td class="price">' +price+'</td>';
											output += '<td class="publish_date">' +publish_date+'</td>';
											output += '<td class="description">' +description+'</td>';
											output += '<td class="id">' +id+'</td>';
											output += '</tr>';

											$("tbody").append(output);          					

			              				});
			              			});
			              		});
		    }
		    else
		    {
		    	alert("You might want to try again buddy...");
		    }

               	
            });
        });         	


//RAW BOOKS.XML
        // $(document).ready(function(){
        //   $("#create").click(function(){

    //          $.ajax({
    //            type: "GET",
    //            url: "/books.xml",
    //            dataType: "xml",
    //            success: function(xml) {
    //           		alert('AJAXCALL');

			 // 	$("#outputArea").load("books.xml"); //org load
			 // }

    //          });
    //        });

    //      });



//FORMATTED BOOKS.XML
   //          $.ajax({
   //            type: "GET",
   //            url: "/books.xml",
   //            dataType: "xml",
   //            success: function(xml) {
   //            		alert('AJAXCALL');
              		
			// 	$(xml).find('book').each(function(){

			// 		var id = $(this).attr('id');
			// 		var author = $(this).find('author').text();
			// 		var title = $(this).find('title').text();
			// 		var genre = $(this).find('genre').text();
			// 		var price = $(this).find('price').text();
			// 		var publish_date = $(this).find('publish_date').text();
			// 		var description = $(this).find('description').text();
					
			// 		var output = '<tr>';
			// 		output += '<td class="author">' +author+'</td>';
			// 		output += '<td class="title">' +title+'</td>';
			// 		output += '<td class="genre">' +genre+'</td>';
			// 		output += '<td class="price">' +price+'</td>';
			// 		output += '<td class="publish_date">' +publish_date+'</td>';
			// 		output += '<td class="description">' +description+'</td>';
			// 		output += '<td class="id">' +id+'</td>';
			// 		output += '</tr>';

			// 		$("tbody").append(output);
			// 	});
			// }

   //          });
   //        });

   //      });

//DISPLAYS RAW JSON FOR BOOKS
    //          $.ajax({
    //            type: "GET",
    //            url: "/books.json",
    //            dataType: "json",
    //            success: function(books) {
    //           		alert('AJAXCALL');

			 // 	$("#outputArea").load("books.json"); //org load
			 // }

    //          });
    //        });

    //      });



//DISPLAYS FORMATTED JSON FOR BOOKS
        //       		alert('AJAXCALL');
        //       		$.getJSON("/books.json", function(result){
        //       			result = result["catalog"];
        //       			$.each(result, function(i,books){
        //       				$.each(books, function(j,book){

        //       					var author = book.author
        //       					var title = book.title
        //       					var genre = book.genre
        //       					var price = book.price
        //       					var publish_date = book.publish_date
        //       					var description = book.description
        //       					var id = book._id

			    	// 			var output = '<tr>';
								// output += '<td class="author">' +author+'</td>';
								// output += '<td class="title">' +title+'</td>';
								// output += '<td class="genre">' +genre+'</td>';
								// output += '<td class="price">' +price+'</td>';
								// output += '<td class="publish_date">' +publish_date+'</td>';
								// output += '<td class="description">' +description+'</td>';
								// output += '<td class="id">' +id+'</td>';
								// output += '</tr>';

								// $("tbody").append(output);          					

        //       				});
        //       			});
        //       		});


//*******************************************************************************************
//DONUTS SECTION
//*******************************************************************************************
//RAW DONUTS XML		 
	    //          $.ajax({
	    //            type: "GET",
	    //            url: "/donuts.xml",
	    //            dataType: "xml",
	    //            success: function(xml) {
	    //           		alert('AJAXCALL');

				 // 	$("#outputArea").load("donuts.xml"); //org load
				 // }

	    //          });

//FORMATTED DONUTS XML
	   //          $.ajax({
	   //            type: "GET",
	   //            url: "/donuts.xml",
	   //            dataType: "xml",
	   //            success: function(xml) {
	   //            		alert('AJAXCALL');
	              		
				// 	$(xml).find('item').each(function(){

						


				// 		$("tbody").append('<tr>');

						

				// 		var item_id = $(this).children('id').text();
				// 		var type = $(this).children('type').text();
				// 		var name = $(this).children('name').text();
				// 		var ppu = $(this).children('ppu').text();
				// 		//(item_id);
				// 		var output1 = '<td class="item_id">' +item_id+'</td>'; 
				// 		output1 += '<td class="type">' +type+'</td>';
				// 		output1 += '<td class="name">' +name+'</td>';
				// 		output1 += '<td class="ppu">' +ppu+'</td>';

				// 		$("tbody").append(output1);

				// 		$(this).children('batters').each(function(){
				// 			$(this).children('batter').each(function(){


				// 				var text = $(this).find('text').text();
				// 				var batter_id = $(this).find('id').text();
				// 				//alert(text);

				// 				var output2 = '<td class="batters"><ul><li>' +batter_id+ '</li>';
				// 				output2 += '<li>' +text+ '</li></ul></td>';

				// 				 $("tbody").append(output2);								
				// 			});	
				// 		});

						

				// 		$(this).children('topping').each(function(){
				// 			var top_text = $(this).find('text').text();
				// 			var top_id = $(this).find('id').text();

				// 			var output3 = '<td class="toppings"><ul><li>' +top_id+ '</li>';
				// 			output3 += '<li>' +top_text+ '</li></ul></td>';

				// 			$("tbody").append(output3);
				// 		});

				// 		$(this).children('fillings').each(function(){
				// 			$(this).children('filling').each(function(){


				// 				var fill_id = $(this).find('id').text();
				// 				var fill_name = $(this).find('name').text();
				// 				var addcost = $(this).find('addcost').text();

				// 				var output4 = '<td class="fillings"><ul><li>' +fill_id+ '</li>';
				// 				output4 += '<li>' +fill_name+ '</li></ul></td>';
				// 				output4 += '<li>' +addcost+ '</li></ul></td>';

				// 				$("tbody").append(output4);
				// 			});
				// 		});

				// 		$("tbody").append('</tr>');
						
				// 	});

						
				// }



	   //      });
//DISPLAYS FORMATTED JSON FOR DONUTS
        //        		alert('AJAXCALL');
        //      		$.getJSON("/donuts.json", function(result){
        //       			result = result["items"];
        //       			$.each(result, function(i,things){
        //       				$.each(things, function(j,item){    
        //       					var id = item.id
        //       					var type = item.type
        //       					var name = item.name
        //       					var ppu = item.ppu

			    	// 			var output = '<tr>';
								// output += '<td class="id">' +id+'</td>';
								// output += '<td class="type">' +type+'</td>';
								// output += '<td class="name">' +name+'</td>';
								// output += '<td class="ppu">' +ppu+'</td>';

								// var batter_list = '<ul>'
        //       					var bat_result = item.batters;
        //       					$.each(bat_result,function(i,heys){
        //       						$.each(heys, function(j,batter){
        //       							var batter_id = batter.id
        //       							var batter_text = batter.text

        //       							batter_list += '<li>' +batter_id+ '</li>'
        //       							batter_list += '<li>' +batter_text+ '</li>'
        //       							// $("tbody").append("<tr> <td>" +batter_text+ "</td> </tr>")
        //       						})
        //       					})		

        //       					batter_list += '</ul>'		

								// var topping_list = '<ul>'
        //       					var top_result = item.topping;
        //       					$.each(top_result,function(i,bungalow){
        //       						// $.each(heys, function(j,batter){
        //       							var top_id = bungalow.id
        //       							var top_text = bungalow.text

        //       							topping_list += '<li>' +top_id+ '</li>'
        //       							topping_list += '<li>' +top_text+ '</li>'
        //       							// $("tbody").append("<tr> <td>" +batter_text+ "</td> </tr>")
        //       						// })
        //       					})		

        //       					topping_list += '</ul>'              									
								// output += '<td class="batters">' +batter_list+'</td>';
								// output += '<td class="batters">' +topping_list+'</td>';								
								// // output += '<td class="description">' +description+'</td>';
								// // output += '<td class="id">' +id+'</td>';
								// output += '</tr>';

								// $("tbody").append(output);                					
        //       				});
        //       			});
        //       		});
           //   });
           // });

         
      </script>
     <div id="outputArea"></div>
     <table>
     	<tbody>
     	</tbody>
     </table>
     <ul id="list"></ul>
     <button id="create">Create Page?</button>

         <link href="/stylesheets/starter-template.css" rel="stylesheet">
    <link rel='stylesheet' href= '/stylesheet/style.css'/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.js">
  </body>
</html>
